@use '../helpers/' as *;

.blog {
  &__inner {
    padding-top: rem(24);
    padding-bottom: rem(48);
    flex-direction: column;

    @include mobile {
      padding-top: rem(10);
    }
  }

  &__main-card {
    display: grid;
    column-gap: rem(43);
    padding-bottom: rem(24);
    grid-template-columns: 60% 40%;

    @include tablet {
      grid-template-columns: 1fr;
      align-self: center;
      max-width: rem(668);
    }
  }

  &__title {
    padding-bottom: rem(24);
  }
}