@use '../helpers/' as *;

.friends {

  &__inner {
    padding-block: rem(50);
    flex-direction: column;
    align-items: center;
    row-gap: rem(29);
  }

  &__body {
    width: 100%;
    overflow: hidden;
  }

  &__list {
    min-width: 100%;
    justify-items: center;
    align-items: center;
    transition-duration: var(--transition-duration);

    &:not(.is-active) {
      height: 0;
      opacity: 0;
    }

    @include tablet {
      --columns: 2;

      row-gap: rem(25);
    }
  }
}