@use '../helpers/' as *;

.share {
  display: grid;
  justify-items: center;
  row-gap: rem(24);

  @include mobile {
    row-gap: rem(8);
  }

  &__soc1als {
    &-list {
      padding-bottom: rem(24);
      display: flex;
      column-gap: rem(44);
      align-items: center;
    }
  }
}