@use '../helpers/' as *;

.tabs {
  &__buttons {
    display: flex;
    column-gap: rem(60);
    padding-bottom: rem(24);
  }

  &__button {
    position: relative;
    background-color: transparent;
    border: none;

    &::after {
      position: absolute;
      content: '';
      width: 0;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: var(--color-blue-light);
      transition-duration: var(--transition-duration); 
    }

    @include hover {
      &::after {
        width: 100%;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: fluid(64, 10);
  }

  &__pagination-controls {
    padding-top: fluid(50, 35);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: rem(10);

    &-prev-button,
    &-next-button {
      border: none;
      background-color: transparent;

      @include hover {
        color: var(--color-blue-light);
      }

      &.not-active {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    &-list {
      display: flex;
    }

    &-item {
      cursor: pointer;
      transition-duration: var(transition-duration);
      padding: rem(10) rem(7);

      @include hover {
        color: var(--color-blue-light);
      }

      &.is-active {
        color: var(--color-blue-light);
        pointer-events: none;
      }
    }
  }
}