@use '../helpers/' as *;

.video {
  &__inner {
    padding-top: fluid(48, 19);
    padding-bottom: rem(40);
    flex-direction: column;
  }

  &__item {
    max-width: rem(575);
  }

  &__title {
    padding-bottom: fluid(27, 9);
  }

  &__main-card {
    padding-bottom: fluid(48, 12);

    &-time {
      padding-bottom: rem(24);
    }
  }

  &__list {
    --columns: 2;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: fluid(48, 12) rem(81);

    @include tablet {
      column-gap: rem(20);
    }

    @include mobile {
      --columns: 1;
    }
  }
}