@use '../helpers/' as *;

.video-player {
  position: relative;


  &__panel {
    position: absolute;
    
    @include abs-center;

    &:not(.is-active) {
      @include visually-hidden;
    }
  }

  &__play-button {
    border: none;
    stroke: white;
  }
}